_ReSharper*/
bin/
debug/
Deploy/
obj/
Package-output/
packages/*
release/
testresults/
*.suo
*.user
.nuget/NuGet.exe
HansKindberg.Xml.Transformation.On.Build.Tests.ConsoleApplication/log4net.config
HansKindberg.Xml.Transformation.On.Build.Tests.ConsoleApplication/App.config
HansKindberg.Xml.Transformation.On.Build.Tests.WebApplication/Views/Web.config
HansKindberg.Xml.Transformation.On.Build.Tests.WebApplication/log4net.config
HansKindberg.Xml.Transformation.On.Build.Tests.WebApplication/Web.config
WebApplication/Views/Web.config
WebApplication/log4net.config
WebApplication/Web.config

!Deploy/Deploy-ReadMe.txt
!packages/repositories.config